body {
  font-size: 16px;
  font-family: 'Jim Nightshade', cursive;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
body header div.dark_overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.85;
	height: 100vh;
}
body main {
  display: flex;
  align-self: center;
}
body main h1 {
  font-size: 8em;
}
body main div.video_container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
body main div.video_container video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("https://d3hmvhl7ru3t12.cloudfront.net/img/pages/home/header-video-poster-4d6f8aee9fd809779b1c36242f81c4c3d5afe3ef77a3d6bc3cd6248aab1980f89e80b41c14c56e5d5e4d06098f874b74d88a1932adf6e6f84da56dbcd8c10e72.jpg") no-repeat;
  background-size: cover;
}